<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Styles/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Styles/content.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <script src="~/Scripts/base.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>


    <script src="~/Scripts/Jquerytool.js"></script>
    <script>
        function alertsuc(msg) {
            layer.alert(msg, {
                icon: 1,
            });
        }
        function alertsuc2(msg,cal) {
            layer.alert(msg,
                cal,
                {
                icon: 1,
            });
        }
        function alertfal(msg) {
            layer.alert(msg, {
                icon: 2,
            });
        }
        function openwin(url, width, height, title) {
            height = $('body').height();
            if (height > 400) height =400;
          //  alert(height);

            layer.open({
                title: title,
                type: 2,
                //offset: '10px',
                offset: 'auto',
                area: [width+'px', height+'px'],
                fix: false, //不固定
                maxmin: false,
                content: url
            });

        }
    </script>

</head>
<body>
    <div class="bdywrapper" style="min-height:480px; border:red solid 0px;">
        @RenderBody()
    </div>
</body>
</html>
