@{
    Layout = "~/views/shared/_AdminContentLayout.cshtml";
    ViewBag.Title = "MenuEdit";
}
@using HJN.InfoPub.Entity

<link href="~/assets/zTreeV3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="~/assets/zTreeV3/js/jquery.ztree.core-3.5.min.js"></script>
<script src="~/assets/zTreeV3/js/HJN.Ztree.Select.js"></script>
<script>

</script>
<style>
    .ztreeselect {
        border: solid 1px #ccc;
    }
</style>
@{
    var menuinfo = ViewBag.menuinfo as admin_menu;
}
<form action="/admincommon/MenuEdit?idx=@menuinfo.idx" method="post" id="form1">
    <table class="tb">
        <tr class="trhead">
            <td colspan="2">编辑分类</td>
        </tr>
        <tr>
            <td class="tbcol1">名 称：</td>
            <td class="tbcol2">
                <input type="text" name="name" value="@menuinfo.name" class="ipt" id="name" />
            </td>
        </tr>
        <tr>
            <td class="tbcol1">上级分类：</td>
            <td class="tbcol2">
                @* <select size="0" id="parentidx" name="parentidx" class="select1" style=" width:200px; height:24px;">
                        <option value="0">无</option>
                    </select>*@
                <input type="text" name="parentidx" value="@menuinfo.parentidx" id="parentidx" class="select1 ztreeselect" />
            </td>
        </tr>
        <tr>
            <td class="tbcol1">url：</td>
            <td class="tbcol2"><input type="text" value="@menuinfo.url" name="url" class="ipt" id="url" /></td>
        </tr>
        <tr>
            <td class="tbcol1">排序：</td>
            <td class="tbcol2"><input type="text" value="@menuinfo.disorder" name="disorder" class="ipt" id="disorder" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" id="btn" value="添 加" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>
<script>
    $(function () {
        njh.regsubmit('btn', 'form1', 'json', function (data) {
            if (data.success) {
                alertsuc2("修改成功", function () {
                    window.location = "/admincommon/showmenulist";
                });
            } else {
                alertfal(data.msg);
            }
        });

        var zNodes=@ViewBag.ztreedata;
        var zs= new zSelect(zNodes,'parentidx');
        zs.init();
    });
</script>

